<h1><%= @list.name %></h1>

<% @list.bookmarks.each do |l| %>
<%= l.movie.title %>--- <%= l.comment %> <%= link_to "Delete", bookmark_path(l.id), method: :delete, data: {confirm: "are you sure"}  %>
</br>
<% end %>

<%= link_to "Add a new bookmark", new_list_bookmark_path(@list) %>
</br>

<%= link_to "Back to all lists", lists_path %>
